<html lang='en'>
   <head>
      <meta charset='UTF-8' />
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Document</title>
   </head>
   <body>
      <form action='/auth/login' method='post'>

         <label for='email'>Email
            <input type='text' name='email' />
         </label>
         <br />
         <label for='password'>Password
            <input type='password' name='password' />
         </label>
         <br />
         <button type='submit'>Submit</button>
      </form>

      <p>No account yet? <a href='/register'>Sign-up </a>here!</p>
   </body>
</html>