<html lang='en'>
   <head>
      <meta charset='UTF-8' />
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Document</title>
   </head>
   <body>
      <form action='/auth/register' method='post'>
         {{! Fields for Registration }}
         <label for='first_name'>First Name
            <input type='text' name='first_name' id='first_name' />
         </label><br />

         <label for='last_name'>Last Name
            <input type='text' name='last_name' id='last_name' />
         </label><br />

         <label for='email'>Email
            <input type='text' name='email' id='email' />
         </label><br />

         <label for='password'>Password
            <input type='password' name='password' id='password' />
         </label><br />

         <label for='confirm_password'>Confirm Password
            <input
               type='password'
               name='confirm_password'
               id='confirm_password'
            />
         </label>

         <button type='submit'>Submit</button>
      </form>


      {{#if message}}
         <h4>{{message}}</h4>
      {{/if}}

      <a href="/login">Back to Login page</a>
   </body>
</html>